body {
    page-break-inside: avoid
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}
p { text-indent: 25px; }
#navigate {
    display: none;
}
.input-center input{
    text-align: center;
}


@media print {
    ul, ol, table {
        page-break-inside: avoid;
    }
    #navigate {
        display: none;
    }
    #buttonAddRow {
        display: none;
    }
    /*#page {*/
    /*    height: 297mm;*/
    /*    width: 210mm;*/
    /*    margin-bottom: 20mm;*/
    /*    background-color: white;*/
    /*    font-size: 14px;*/
    /*    display: flex;*/
    /*}*/
}